# chezmoi:managed — edit via 'chezmoi edit' or in ~/git/harmon-dotfiles; direct edits are overwritten by the next 'chezmoi apply' unless re-added
[storage]
engine = icloud

[applications_to_ignore]
ssh
aws
ansible
kubectl
iterm2
