# chezmoi:managed — edit via 'chezmoi edit' or in ~/git/harmon-dotfiles; direct edits are overwritten by the next 'chezmoi apply' unless re-added
# My custom mackup config to specify my own files

[application]
name = My dotfiles

[configuration_files]
.dotfiles
.gitignore_global
